//upload-container-variables
$uploadContainerPadding: 3em;
$uploadContainerRadius: 1em;

//width
$xxsmall: 16px;
$medium: 200px;
$midlarge:350px;
$large: 400px;
$xlarge: 500px;
$xxlarge: 600px;

//margins
$margin5: 5px;
$margin10: 10px;
$margin15: 15px;
$margin20: 20px;

//padings
$padding5: 5px;
$padding10: 10px;
$padding15: 15px;
$padding20: 20px;

//borderRadius
$borderRadius2: 2px;
$borderRadius4: 4px;
$borderRadius6: 6px;
$borderRadius8: 8px;

//Colors
$uploadBtnClr: #2678bb;
$white: #fff;
$black: #000;
$darkGray: #aaa;
$lightGray: #fcfcfcfa;

//boxShadows
$grayShadow: 0px 0px 20px 10px rgba(210, 208, 208, 0.7);
